		<section id="news-section" class="section-2">
			<div class="container">
				<div class="row">
					<!-- VIDEO  HEADER -->
					<div class="text-center">
						<header>
							<div class="span12 page-header">
								<h3><span class="white">Gossip Box</span></h3>
							</div>
						</header>
						<!-- / VIDEO SECTION HEADER-->
					</div>
					<!-- /text center-->
				</div>
				<!--/ROW-->
			</div>
			<!--/CONTAINER-->

			<div class="container">
				<div class="row-fluid">
					<!-- SLIDER SIDE -->
					<!-- PORTFOLIO ASIDE -->
					<div class="span12">
						<!-- TITLE -->
						<h4 class="main-color-line">Prepare o veneno</h4>

						<!-- PARAGRAPH -->
						<p>
							Aqui todos já conhecem as regras, mas vamos relembrar. Conte tudo aquilo que viu, que gostaria de ver, que pensou que viu, que sonhou ver, ou que ainda verá. Pode ficar tranquilo que armazenaremos apenas a fofoca, sua identidade permanecerá em sigilo.
						</p>
						<!-- END PARAGRAPH -->
						<!-- DEVIDER LINE -->
						<div class="no-color-line-no-border3"></div>
						<fieldset>
							<label class="control-label" for="gossip">Lance o veneno</label>
							<textarea id="gossip" class="form-control input-block-level" rows="4" name="gossip" ng-model="gossip.msg"></textarea>
							<button class="btn btn-danger btn-block btn-large" ng-click="sendGossip()"><i class="icon icon-fire icon-white"></i> Fofocar</button>
						</fieldset>
					</div>
				</div>
			</div>
		</section>
		<section id="portfolio-section" class="section-2">
		</section>
