		<section id="news-section" class="section-2">
			<div class="container">
				<div class="row">
					<!-- VIDEO  HEADER -->
					<div class="text-center">
						<header>
							<div class="span12 page-header">
								<h3><span class="white">Gossip Box</span></h3>
							</div>
						</header>
						<!-- / VIDEO SECTION HEADER-->
					</div>
					<!-- /text center-->
				</div>
				<!--/ROW-->
			</div>
			<!--/CONTAINER-->

			<div class="container">
				<div class="row-fluid">
					<!-- SLIDER SIDE -->
					<!-- PORTFOLIO ASIDE -->
					<div class="span12">
						<!-- TITLE -->
						<div class="alert alert-info">
							<b>Fofoca enviada com sucesso!</b> Sei que você tem mais a falar, volte e mande quantas quiser. 
						</div>
						<a href="#/view5" class="btn btn-success btn-block btn-large"><i class="icon icon-fire icon-white"></i> Fofocar ainda mais</a>
					</div>
				</div>
			</div>
		</section>
		<!--/ NEWS SECTION-->
