		<!-- ###################### FOOTER #######################
    ================================================== -->
		<footer class="footer">
			<section id="contact-section" class="arrow_box">
				<div class="container">
					<div class="row-fluid">
						<!-- CONTAC HEADER-->
						<div class="text-center">
							<div id="foot-head">
								<div class="span12 text-center page-header">

									<h3>
					<span class="white">
						LOCAL
					</span>
					</h3>
								</div>
							</div>
						</div>
					</div>
					<!--/ CONTAC HEADER-->
					<div class="row-fluid">


						<div class="span12" itemscope itemtype="http://schema.org/BusinessEvent">
							<div class="text-center">
								A <span itemprop="name">CONADE 2014</span> acontecerá entre os dias 
								<time itemprop="startDate" datetime="2014-07-26">26/07/2014</time> e 
								<time itemprop="endDate" datetime="2014-08-03">03/08/2014</time>
							</div>

							<address itemprop="location" itemscope itemtype="http://schema.org/Organization">
				<strong><span itemprop="name">Hotel Valle da Fonte</span></strong><br>
				<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<i class="fa-icon-map-marker"></i>
					<span itemprop="streetAddress">
						Rodovia Prof. Alfredo Rolim de Moura (SP-88), km 126
					</span> – 
					<span itemprop="addressRegion">Bairro do Cedro</span> – 
					<span itemprop="addressLocality">Paraibuna/SP</span><br/>
					<i class="fa-icon-phone-sign"></i>
					<span itemprop="telephone"> + 55 (11) 4436-8378 / 4432-0402 / 4438-7407</span>
				<div class="foot-line"></div>
			</address>



						</div>


						<div class="span12">
							<h4 class="main-color-line"><i class="fa-icon-envelope-alt main-color"></i> <span>Contato oficial</span></h4>
							<div id="tweets">
								<h5>conade2014@gmail.com</h5>
							</div>
						</div>

					</div>
					<!-- / ROW-->

				</div>

			</section>
			<section id="map-section">
				<!-- MAP DIV // !Don't remove this !Important -->
				<div id="map"></div>

				<!-- MAP DIV // !Don't remove this !Important -->
			</section>
		</footer>
