		<section id="news-section" class="section-2">
			<div class="container">
				<div class="row">
					<!-- VIDEO  HEADER -->
					<div class="text-center">
						<header>
							<div class="span12 page-header">
								<h3><span class="white">Login</span></h3>
							</div>
						</header>
						<!-- / VIDEO SECTION HEADER-->
					</div>
					<!-- /text center-->
				</div>
				<!--/ROW-->
			</div>
			<!--/CONTAINER-->

			<div class="container-fluid">
				<div class="row-fluid">
					<!-- SLIDER SIDE -->
					<!-- PORTFOLIO ASIDE -->
					<div class="span12">
						<!-- TITLE -->
						<!-- DEVIDER LINE -->
						<div class="no-color-line-no-border3"></div>
						<fieldset>
							<label class="control-label" for="gossip">{{ login_msg }}</label>
							<input id="pwd" class="form-control input-block-level" name="pwd" type="password" ng-model="pwd"/>
							<button class="btn btn-info btn-block btn-large" ng-click="login()"><i class="icon icon-user icon-white"></i> Login</button>
						</fieldset>
					</div>
				</div>
			</div>
		</section>
		<section id="portfolio-section" class="section-2">
		</section>
