		<section id="news-section" class="section-2">
			<div class="container">
				<div class="row">
					<!-- VIDEO  HEADER -->
					<div class="text-center">
						<header>
							<div class="span12 page-header">
								<h3><span class="white">PARTNERS</span></h3>
							</div>
						</header>
						<!-- / VIDEO SECTION HEADER-->
					</div>
					<!-- /text center-->
				</div>
				<!--/ROW-->
			</div>
			<!--/CONTAINER-->
			
			<div class="container">
				<div class="row">
					<!-- /span12-->
					<div href="http://www.danone.com.br/" target="_blank" class="logo span3">
			<img src="images/partners/part1.png" alt="logo"/>
		</div>
					<div href="http://www.fom.com.br" target="_blank" class="logo span3">
			<img src="images/partners/part2.png" alt="logo"/>
		</div>
					<div href="https://belvita.com.br/" target="_blank" class="logo span3">
			<img src="images/partners/part3.png" alt="logo"/>
		</div>
					<div href="http://www.pg.com/pt_BR/" target="_blank" class="logo span3">
			<img src="images/partners/part4.png" alt="logo"/>
		</div>
					<div href="http://www.milhodeouro.com.br/" target="_blank" class="logo span3">
			<img src="images/partners/part5.png" alt="logo"/>
		</div>
					<div href="http://www.marilan.com/" target="_blank" class="logo span3">
			<img src="images/partners/part6.png" alt="logo"/>
		</div>
					<div href="http://www.bananinhaparaibuna.com.br/" target="_blank" class="logo span3">
			<img src="images/partners/part7.png" alt="logo"/>
		</div>
					<div href="http://www.pimaco.com.br/" target="_blank" class="logo span3">
			<img src="images/partners/part13.png" alt="logo"/>
		</div>
					<div href="http://www.maped.com/pt" target="_blank" class="logo span3">
			<img src="images/partners/part9.png" alt="logo"/>
		</div>
					<div href="http://www.dac.com.br/" target="_blank" class="logo span3">
			<img src="images/partners/part10.png" alt="logo"/>
		</div>
					<div href="http://www.confidencecambio.com.br/" target="_blank" class="logo span3">
			<img src="images/partners/part8.png" alt="logo"/>
		</div>
					<div href="http://www.assist-card.com.br/" target="_blank" class="logo span3">
			<img src="images/partners/part12.png" alt="logo"/>
		</div>
					<div href="https://www.nissin.com.br/" target="_blank" class="logo span3">
			<img src="images/partners/part14.png" alt="logo"/>
		</div>
					<a href="http://www.papelsemente.com.br/" target="_blank" class="logo span3">
			<img src="images/partners/part11.png" alt="logo"/>
		</a>
					<a href="http://www.suavipan.com.br/" target="_blank" class="logo span3">
			<img src="images/partners/part15.png" alt="logo"/>
		</a>
					<a href="http://www.jasminealimentos.com/" target="_blank" class="logo span3">
			<img src="images/partners/part16.png" alt="logo"/>
		</a>
					<a href="http://www.sakura.com.br/" target="_blank" class="logo span3">
			<img src="images/partners/part17.png" alt="logo"/>
		</a>
				</div>
			</div>
				<!-- /row-fluid-->
		</section>
		<!--/ NEWS SECTION-->
